@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex flex-column align-items-center justify-content-center">
	<h1>CS2 Gambling</h1>
	<p>Hello, this is a no money gambling website for the game CS2</p>
	<p>It doesn't use any real money for the site just log in and play</p>
</div>
